<div>
  <div class="header">Contacts and Everything Else</div>
  <div id="contact-info">
    <div>Email: leightonjenkins84@gmail.com</div>
    <div>Phone: 940-224-9045</div>
    <a href="https://github.com/LD-Jenkins">Check Out My GitHub</a><br>
    <a href="https://www.linkedin.com/in/leighton-jenkins-a74ab563/">Find Me On LinkedIn</a>
  </div>
</div>