* {
    font-family: 'VT323', sans-serif;
}

html, body {
    overflow: auto;
    clear: both;
    height: 100%;
}


.crt::after {
    content: " ";
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(26, 24, 24, 0);
    opacity: 0;
    z-index: 2;
    pointer-events: none;

}
.crt::before {
    content: " ";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(3, 5, 3, 0.548) 50%, rgba(0, 0, 0, 0.883) 50%);
    z-index: 2;
    background-size: 100% 2px;
    pointer-events: none;
}

nav, nav button {
    
    color: rgb(5, 3, 3);
    font-size: 2rem;
    font-weight: bolder;
    margin: 1.25rem;
    margin-bottom: 10rem;
}

#dropdownBtn {
    font-size: 2rem !important;
    margin: 0px;
    padding: 0px 0px 6px 0px !important;
    text-align: center;
}

.dropdown-item {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0) !important;


}

.header {
    margin-left: 2rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#selfie {
    display: inline-block;
    position: absolute;
    right: 0;
}

#selfie img {
    width: 200px;
    height: auto;
}

img {
    width: 300px;
    height: auto;
}

#contact-info {
    font-size: 1.5rem;
    margin: 2rem;
}



.my-card div h5 {
    font-size: 2rem;
}

.my-card div p, .my-card div a {
    font-size: 1.25rem;
}

#about-me div p {
    font-size: 1.5rem;
    margin: 2rem;
}

#main p {
    font-size: 1.5rem;
    margin: 2rem;
}

#card-container {
    display: table;
    max-height: 33vh;
}

@media screen and (max-width: 920px) {
    #selfie {
        display: none;
    }
}

@media screen and (max-width: 1530px) {
    .my-card div h5 {
        font-size: 1.5rem;
    }
    
    .my-card div p {
        font-size: .75rem;
    }
}